[Unit]
Description=Node Exporter
After=network.target

[Service]
User=prometheus
Type=simple
ExecStart=/usr/local/bin/node_exporter --collector.textfile.directory="/home/get-of-metrics/prom-files"

[Install]
WantedBy=multi-user.target